<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <a href="/api/user/">Main page</a> ~
    <a href="/api/user/register">Register</a> ~
    <a href="/api/user/profile">Profile</a>
    
    <h1>Log In</h1>
    <form action="/api/user/login" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email" id="email"><br><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>